#https://nextjs.org/docs/basic-features/environment-variables

NEXTAUTH_URL=http://localhost:3000

### MONGODB DATABASE

MONGODB_URI=
MONGODB_DB=

### EMAIL

EMAIL_FROM=
EMAIL_USERNAME=
EMAIL_PASSWORD=

### PUSHER

PUSHER_APP_ID=
NEXT_PUBLIC_PUSHER_KEY=
PUSHER_SECRET=
NEXT_PUBLIC_PUSHER_CLUSTER=

### SENTRY

NEXT_PUBLIC_SENTRY_DSN=

### AMAZON S3

S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=
S3_BUCKET_NAME=

# Only required to upload sourcemaps
# SENTRY_ORG=
# SENTRY_PROJECT=
# SENTRY_AUTH_TOKEN=
#
# Only required if sentry for organization
# Ex: https://sentry.ORG.com/
# SENTRY_URL=
#
# For sourcemaps to work with server-side exceptions, the file path of the
# uploaded .map file needs to match the file paths in Error.stack. In Node.js,
# Error.stack file paths are absolute. Since the .map files we upload to Sentry
# have relative paths (~/_next), Error.stack needs to be rewritten to also use
# relative paths, which is handled in Sentry.init via Sentry's RewriteFrames
# integration.
# 
# Normally, the root directory could be detected with __dirname, but __dirname
# isn't yet supported in Vercel serverless functions:
# https://github.com/vercel/next.js/issues/8251
# 
# To work around this issue, provide the root directory containing Next.js's
# build output here. In the Vercel environment, this is /var/task/.
# NEXT_PUBLIC_SENTRY_SERVER_ROOT_DIR=